<a href="https://colab.research.google.com/github/desstaw/PrivacyPreservingTechniques/blob/main/Exploratory_Analysis_Adult_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np
import matplotlib.pyplot as plt
import random


# Load data
url = "https://raw.githubusercontent.com/desstaw/PrivacyPreservingTechniques/main/datasets/adult.csv"
df = pd.read_csv(url)

import warnings
warnings.simplefilter('ignore')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 1 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   ID;sex;age;race;marital-status;education;native-country;workclass;occupation;salary-class  30162 non-null  object
dtypes: object(1)
memory usage: 235.8+ KB

In [44]:

df[['ID', 'sex', 'age', 'race', 'marital-status', 'education', 'native-country', 'workclass', 'occupation', 'salary-class']] = df['ID;sex;age;race;marital-status;education;native-country;workclass;occupation;salary-class'].str.split(';', expand=True)

df.drop(df.columns[0], axis=1, inplace=True)

In [45]:
columns_to_analyze = ['sex', 'race', 'marital-status', 'education', 'native-country', 'workclass', 'occupation', 'salary-class']

for column in columns_to_analyze:
    unique_classes_counts = df[column].value_counts()
    print(f"Column: {column}")
    print(unique_classes_counts)
    print("\n")

Column: sex
Male      20380
Female     9782
Name: sex, dtype: int64


Column: race
White                 25933
Black                  2817
Asian-Pac-Islander      895
Amer-Indian-Eskimo      286
Other                   231
Name: race, dtype: int64


Column: marital-status
Married-civ-spouse       14065
Never-married             9726
Divorced                  4214
Separated                  939
Widowed                    827
Married-spouse-absent      370
Married-AF-spouse           21
Name: marital-status, dtype: int64


Column: education
HS-grad         9840
Some-college    6678
Bachelors       5044
Masters         1627
Assoc-voc       1307
11th            1048
Assoc-acdm      1008
10th             820
7th-8th          557
Prof-school      542
9th              455
12th             377
Doctorate        375
5th-6th          288
1st-4th          151
Preschool         45
Name: education, dtype: int64


Column: native-country
United-States                 27504
Mexico                          610
Philippines                     188
Germany                         128
Puerto-Rico                     109
Canada                          107
India                           100
El-Salvador                     100
Cuba                             92
England                          86
Jamaica                          80
South                            71
China                            68
Italy                            68
Dominican-Republic               67
Vietnam                          64
Guatemala                        63
Japan                            59
Poland                           56
Columbia                         56
Iran                             42
Taiwan                           42
Haiti                            42
Portugal                         34
Nicaragua                        33
Peru                             30
Greece                           29
France                           27
Ecuador                          27
Ireland                          24
Hong                             19
Cambodia                         18
Trinadad&Tobago                  18
Thailand                         17
Laos                             17
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         12
Scotland                         11
Holand-Netherlands                1
Name: native-country, dtype: int64


Column: workclass
Private             22286
Self-emp-not-inc     2499
Local-gov            2067
State-gov            1279
Self-emp-inc         1074
Federal-gov           943
Without-pay            14
Name: workclass, dtype: int64


Column: occupation
Prof-specialty       4038
Craft-repair         4030
Exec-managerial      3992
Adm-clerical         3721
Sales                3584
Other-service        3212
Machine-op-inspct    1966
Transport-moving     1572
Handlers-cleaners    1350
Farming-fishing       989
Tech-support          912
Protective-serv       644
Priv-house-serv       143
Armed-Forces            9
Name: occupation, dtype: int64


Column: salary-class
<=50K    22654
>50K      7508
Name: salary-class, dtype: int64

In [46]:
from collections import deque
df['age'] = df['age'].astype(float)
class TreeNode:
    def __init__(self, start, end):
        self.start = start
        self.end = end
        self.children = []

def build_tree(data, level, node):
    if level == 0 or len(data) < 10:
        return

    step = (node.end - node.start) / 2
    left_child = TreeNode(node.start, node.start + step)
    right_child = TreeNode(node.start + step, node.end)

    node.children.append(left_child)
    node.children.append(right_child)

    left_data = data[(data >= left_child.start) & (data <= left_child.end)]
    right_data = data[(data > left_child.end) & (data <= right_child.end)]

    build_tree(left_data, level - 1, left_child)
    build_tree(right_data, level - 1, right_child)

def print_tree(tree):
    queue = deque([(tree, 0)])  # Store nodes and their levels in a queue

    while queue:
        level_nodes = []  # Store nodes at the current level
        level = queue[0][1]  # Get the level of the first node in the queue

        # Process nodes at the current level
        while queue and queue[0][1] == level:
            node, _ = queue.popleft()
            level_nodes.append(node)

        # Print level name and clusters with intervals
        print(f"Level {level}:")
        for node in level_nodes:
            start = int(node.start)
            end = int(node.end)
            print(f"  Cluster {level_nodes.index(node)}: ({start}, {end}]")

        # Add child nodes to the queue for the next level
        for node in level_nodes:
            queue.extend([(child, level + 1) for child in node.children])

        print()  # Add a line break after each level


age_column = df['age']
min_age = age_column.min()
max_age = age_column.max()

# Build the tree with 5 levels
#original
root = TreeNode(min_age, max_age)
#adjusted
#root = TreeNode(min_age, max_age + 1)
build_tree(age_column, 5, root)


print_tree(root)

Level 0:
  Cluster 0: (17, 90]

Level 1:
  Cluster 0: (17, 53]
  Cluster 1: (53, 90]

Level 2:
  Cluster 0: (17, 35]
  Cluster 1: (35, 53]
  Cluster 2: (53, 71]
  Cluster 3: (71, 90]

Level 3:
  Cluster 0: (17, 26]
  Cluster 1: (26, 35]
  Cluster 2: (35, 44]
  Cluster 3: (44, 53]
  Cluster 4: (53, 62]
  Cluster 5: (62, 71]
  Cluster 6: (71, 80]
  Cluster 7: (80, 90]

Level 4:
  Cluster 0: (17, 21]
  Cluster 1: (21, 26]
  Cluster 2: (26, 30]
  Cluster 3: (30, 35]
  Cluster 4: (35, 39]
  Cluster 5: (39, 44]
  Cluster 6: (44, 48]
  Cluster 7: (48, 53]
  Cluster 8: (53, 58]
  Cluster 9: (58, 62]
  Cluster 10: (62, 67]
  Cluster 11: (67, 71]
  Cluster 12: (71, 76]
  Cluster 13: (76, 80]
  Cluster 14: (80, 85]
  Cluster 15: (85, 90]

Level 5:
  Cluster 0: (17, 19]
  Cluster 1: (19, 21]
  Cluster 2: (21, 23]
  Cluster 3: (23, 26]
  Cluster 4: (26, 28]
  Cluster 5: (28, 30]
  Cluster 6: (30, 32]
  Cluster 7: (32, 35]
  Cluster 8: (35, 37]
  Cluster 9: (37, 39]
  Cluster 10: (39, 42]
  Cluster 11: (42, 44]
  Cluster 12: (44, 46]
  Cluster 13: (46, 48]
  Cluster 14: (48, 51]
  Cluster 15: (51, 53]
  Cluster 16: (53, 55]
  Cluster 17: (55, 58]
  Cluster 18: (58, 60]
  Cluster 19: (60, 62]
  Cluster 20: (62, 64]
  Cluster 21: (64, 67]
  Cluster 22: (67, 69]
  Cluster 23: (69, 71]
  Cluster 24: (71, 74]
  Cluster 25: (74, 76]
  Cluster 26: (76, 78]
  Cluster 27: (78, 80]
  Cluster 28: (80, 83]
  Cluster 29: (83, 85]
  Cluster 30: (85, 87]
  Cluster 31: (87, 90]

In [47]:
education_type_mapping = {
    'L1_education_type': {
        "HS-grad": ["School Education"],
        "11th": ["School Education"],
        "12th": ["School Education"],
        "10th": ["School Education"],
        "9th": ["School Education"],
        "7th-8th": ["School Education"],
        "5th-6th": ["School Education"],
        "1st-4th": ["School Education"],
        "Preschool": ["School Education"],
        "Doctorate": ["Higher Education"],
        "Prof-school": ["Higher Education"],
        "Masters": ["Higher Education"],
        "Bachelors": ["Higher Education"],
        "Assoc-acdm": ["Higher Education"],
        "Assoc-voc": ["Higher Education"],
        "Some-college": ["Higher Education"]
    },
        'L2_education_type': {
        "HS-grad": ["School Education"],
        "11th": ["School Education"],
        "12th": ["School Education"],
        "10th": ["School Education"],
        "9th": ["School Education"],
        "7th-8th": ["School Education"],
        "5th-6th": ["School Education"],
        "1st-4th": ["School Education"],
        "Preschool": ["School Education"],
        "Doctorate": ["Advanced Education"],
        "Prof-school": ["Advanced Education"],
        "Masters": ["Advanced Education"],
        "Bachelors": ["Advanced Education"],
        "Assoc-acdm": ["Intermediate Education"],
        "Assoc-voc": ["Intermediate Education"],
        "Some-college": ["Intermediate Education"]
    },
        'L3_education': {
        "HS-grad": ["High School Education"],
        "11th": ["High School Education"],
        "12th": ["High School Education"],
        "10th": ["High School Education"],
        "9th": ["Middle/Elementary School Education"],
        "7th-8th": ["Middle/Elementary School Education"],
        "5th-6th": ["Middle/Elementary School Education"],
        "1st-4th": ["Middle/Elementary School Education"],
        "Preschool": ["Middle/Elementary School Education"],
        "Doctorate": ["Advanced Education"],
        "Prof-school": ["Advanced Education"],
        "Masters": ["Advanced Education"],
        "Bachelors": ["Advanced Education"],
        "Assoc-acdm": ["Intermediate Education"],
        "Assoc-voc": ["Intermediate Education"],
        "Some-college": ["Intermediate Education"]
    },
        'L4_education': {
        "HS-grad": ["High School Education"],
        "11th": ["High School Education"],
        "12th": ["High School Education"],
        "10th": ["High School Education"],
        "9th": ["Middle School Education"],
        "7th-8th": ["Middle School Education"],
        "5th-6th": ["Elementary School Education"],
        "1st-4th": ["Elementary School Education"],
        "Preschool": ["Elementary School Education"],
        "Doctorate": ["Advanced Education"],
        "Prof-school": ["Advanced Education"],
        "Masters": ["Advanced Education"],
        "Bachelors": ["Advanced Education"],
        "Assoc-acdm": ["Intermediate Education"],
        "Assoc-voc": ["Intermediate Education"],
        "Some-college": ["Intermediate Education"]
    }
}


for col, mapping in education_type_mapping.items():
    df[col] = df['education'].map({key: ' '.join(value) for key, value in mapping.items()})

#rename education column to Level 5 education type

In [48]:
occupation_type_mapping = {
    'L1_occupation': {
        "Exec-managerial": ["Professional or Administrative Role"],
        "Prof-specialty": ["Professional or Administrative Role"],
        "Tech-support": ["Professional or Administrative Role"],
        "Sales": ["Professional or Administrative Role"],
        "Adm-clerical": ["Professional or Administrative Role"],
        "Craft-repair": ["Manual and Skilled Labor"],
        "Handlers-cleaners": ["Manual and Skilled Labor"],
        "Machine-op-inspct": ["Manual and Skilled Labor"],
        "Other-service": ["Manual and Skilled Labor"],
        "Priv-house-serv": ["Manual and Skilled Labor"],
        "Farming-fishing": ["Manual and Skilled Labor"],
        "Transport-moving": ["Manual and Skilled Labor"],
        "Protective-serv": ["Manual and Skilled Labor"],
        "Armed-Forces": ["Manual and Skilled Labor"],

    },
        'L2_occupation': {
        "Exec-managerial": ["Management or Professional Role"],
        "Prof-specialty": ["Management or Professional Role"],
        "Tech-support": ["Sales and Customer Service"],
        "Sales": ["Sales and Customer Service"],
        "Adm-clerical": ["Sales and Customer Service"],
        "Craft-repair": ["Skilled Labor and Craftsmanship"],
        "Handlers-cleaners": ["Skilled Labor and Craftsmanship"],
        "Machine-op-inspct": ["Skilled Labor and Craftsmanship"],
        "Other-service": ["Service and Household Roles"],
        "Priv-house-serv": ["Service and Household Roles"],
        "Farming-fishing": ["Agriculture or Transportation"],
        "Transport-moving": ["Agriculture or Transportation"],
        "Protective-serv": ["Security Services"],
        "Armed-Forces": ["Security Services"],
    }

}


for col, mapping in occupation_type_mapping.items():
    df[col] = df['occupation'].map({key: ' '.join(value) for key, value in mapping.items()})

#rename occupation column to Level 3 occupation type

In [49]:
marital_status_mapping = {
    'L1_marital_status': {
        "Married-civ-spouse": ["Married"],
        "Married-spouse-absent": ["Married"],
        "Married-AF-spouse": ["Married"],
        "Widowed": ["Not married"],
        "Separated": ["Not married"],
        "Divorced": ["Not married"],
        "Never-married": ["Not married"],
    },
        'L2_marital_status': {
        "Married-civ-spouse": ["Married"],
        "Married-spouse-absent": ["Spouse absent"],
        "Married-AF-spouse": ["Married"],
        "Widowed": ["Spouse absent"],
        "Separated": ["Spouse absent"],
        "Divorced": ["Spouse absent"],
        "Never-married": ["Single"],
    }

}


for col, mapping in marital_status_mapping.items():
    df[col] = df['marital-status'].map({key: ' '.join(value) for key, value in mapping.items()})

#rename marital statuis column to Level 3 marital status type also rethink the grouping if we get an insufficient classification accuracy

In [50]:
workclass_mapping = {
    'L1_workclass': {
        "Private": ["Private or other"],
        "Self-emp-not-inc": ["Private or other"],
        "Self-emp-inc": ["Private or other"],
        "Local-gov": ["Government"],
        "State-gov": ["Government"],
        "Federal-gov": ["Government"],
        "Without-pay": ["Unemployed"],
    },
    'L2_workclass': {
        "Private": ["Private"],
        "Self-emp-not-inc": ["Self-employed"],
        "Self-emp-inc": ["Self-employed"],
        "Local-gov": ["Government"],
        "State-gov": ["Government"],
        "Federal-gov": ["Government"],
        "Without-pay": ["Unemployed"],
    }

}


for col, mapping in workclass_mapping.items():
    df[col] = df['workclass'].map({key: ' '.join(value) for key, value in mapping.items()})

#rename workclass column to Level 3 workclass type also rethink the grouping if we get an insufficient classification accuracy

In [51]:
native_country_mapping = {
    'L1_native_country': {
        "United-States": ["North America"],
        "South": ["North America"],
        "Canada": ["North America"],
        "Mexico": ["North America"],
        "Puerto-Rico": ["North America"],
        "El-Salvador": ["North America"],
        "Cuba": ["North America"],
        "Jamaica": ["North America"],
        "Dominican-Republic": ["North America"],
        "Guatemala": ["North America"],
        "Haiti": ["North America"],
        "Nicaragua": ["North America"],
        "Honduras": ["North America"],
        "Trinadad&Tobago": ["North America"],
        "Outlying-US(Guam-USVI-etc)": ["North America"],
        "Peru": ["South America"],
        "Columbia": ["South America"],
        "Ecuador": ["South America"],
        "Philippines": ["Asia"],
        "India": ["Asia"],
        "China": ["Asia"],
        "Hong": ["Asia"],
        "Japan": ["Asia"],
        "Vietnam": ["Asia"],
        "Taiwan": ["Asia"],
        "Cambodia": ["Asia"],
        "Thailand": ["Asia"],
        "Laos": ["Asia"],
        "Iran": ["Asia"],
        "Germany": ["Europe"],
        "England": ["Europe"],
        "Italy": ["Europe"],
        "Poland": ["Europe"],
        "Portugal": ["Europe"],
        "Greece": ["Europe"],
        "France": ["Europe"],
        "Ireland": ["Europe"],
        "Yugoslavia": ["Europe"],
        "Scotland": ["Europe"],
        "Holand-Netherlands": ["Europe"],
        "Hungary": ["Europe"],


},
    'L2_native_country': {
        "United-States": ["North America"],
        "South": ["North America"],
        "Canada": ["North America"],
        "Mexico": ["North America"],
        "Puerto-Rico": ["Central America and the Caribbean"],
        "El-Salvador": ["Central America and the Caribbean"],
        "Cuba": ["Central America and the Caribbean"],
        "Jamaica": ["Central America and the Caribbean"],
        "Dominican-Republic": ["Central America and the Caribbean"],
        "Guatemala": ["Central America and the Caribbean"],
        "Haiti": ["Central America and the Caribbean"],
        "Nicaragua": ["Central America and the Caribbean"],
        "Honduras": ["Central America and the Caribbean"],
        "Trinadad & Tobago": ["Central America and the Caribbean"],
        "Outlying-US(Guam-USVI-etc)": ["Central America and the Caribbean"],
        "Philippines": ["East Asia"],
        "India": ["Southern Asia"],
        "China": ["East Asia"],
        "Hong": ["East Asia"],
        "Japan": ["East Asia"],
        "Vietnam": ["Southeast Asia"],
        "Taiwan": ["East Asia"],
        "Cambodia": ["Southeast Asia"],
        "Thailand": ["Southeast Asia"],
        "Laos": ["Southeast Asia"],
        "Iran": ["Southern Asia"],
        "Germany": ["Western Europe"],
        "England": ["Northern Europe"],
        "Italy": ["Southern Europe"],
        "Poland": ["Eastern Europe"],
        "Portugal": ["Southern Europe"],
        "Greece": ["Southern Europe"],
        "France": ["Western Europe"],
        "Ireland": ["Western Europe"],
        "Yugoslavia": ["Eastern Europe"],
        "Scotland": ["Northern Europe"],
        "Holand-Netherlands": ["Western Europe"],
        "Hungary": ["Eastern Europe"],

    }

}


for col, mapping in native_country_mapping.items():
    df[col] = df['native-country'].map({key: ' '.join(value) for key, value in mapping.items()})

#rename countries column to Level 3 countries type also rethink the grouping if we get an insufficient classification accuracy

In [52]:
race_mapping = {
    'L1_race': {
        "White ": ["White "],
        "Black": ["Black"],
        "Other": ["Other"],
        "Asian-Pac-Islander": ["Other"],
        "Amer-Indian-Eskimo": ["Other"],
    }

}


for col, mapping in race_mapping.items():
    df[col] = df['race'].map({key: ' '.join(value) for key, value in mapping.items()})

#rename race column to Level 2 race type also rethink the grouping if we get an insufficient classification accuracy

In [53]:
df.rename(columns={'race': 'L2_race', 'marital-status': 'L3_marital_status', 'education': 'L5_education', 'native-country': 'L3_native_country', 'workclass': 'L3_workclass', 'occupation': 'L3_occupation'}, inplace=True)

In [54]:
# Save the pre-processed dataset on drive
df.to_csv('/content/drive/MyDrive/Colab Notebooks/MIMIC III/adult_v1_gen.csv', index=False)